@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700;800;900&display=swap");

.code-demo-container {
  border-radius: 14px;
  padding-left: 27px;
  padding-top: 25px;
  margin-left: -24px;
  margin-right: -50vw;
  padding-right: 50vw;
  position: relative;
  background: transparent;
  background-image: linear-gradient(to bottom, #212150, transparent);
  overflow: hidden;

  .window-buttons {
    position: absolute;
    left: 12px;
    top: 6px;
    display: flex;
    .btn {
      opacity: 0.5;
      background-color: rgba(255, 255, 255, 0.5);
      width: 12px;
      height: 12px;
      border-radius: 6px;
      margin: 3px;
    }
  }
}

.code-demo-container {
  .filename.main {
    margin-left: -26px;
    margin-top: 5px;
    display: none;
  }
  &.split .filename.main {
    opacity: 1;
    display: block;
    animation: fadeIn2 300ms;
  }
}

.code-demo-container:before {
  content: "";
  display: block;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  opacity: 0.5;
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    rgba(255, 255, 255, 0.5) 0%,
    transparent 50%
  );
  -webkit-mask: linear-gradient(black, black) content-box content-box,
    linear-gradient(black, black);
  -webkit-mask-composite: xor;
}
.code-demo-container:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: 29px;
  width: 100%;
  height: 2.5px;
  opacity: 0.5;
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    rgba(255, 255, 255, 0.6) 0%,
    transparent 40%
  );
}

.code-demo-container .splitter {
  width: 50%;
  height: 2.5px;
  display: block;
  margin-left: -26px;
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    rgba(255, 255, 255, 0.3) 0%,
    transparent 40%
  );
  animation: fadeIn 1s;
  .filename {
    top: 1px;
  }
}

.code-demo-container .filename {
  border-top: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-image: initial;
  position: absolute;
  font-size: 11px;
  padding: 2px 7px;
  border-bottom-right-radius: 9px;
  color: rgba(255, 255, 255, 0.4);
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--ifm-font-family-monospace);
}

.code-demo-container.animate {
  .window-buttons .btn,
  &:before,
  &:after {
    animation: fadeOut 3s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

html[data-theme="light"] {
  .Section.demo {
    background: linear-gradient(-55deg, #1b1c3b 0%, rgb(63 39 147) 100%);
  }
}

html[data-theme="dark"] {
  .Section.demo {
    background-color: rgba(0, 0, 0, 0.14);
  }
}

.code-demo-container code {
  display: block;
  background: transparent;
  color: white;
  padding-top: 27px;
  padding-bottom: 4px;
  width: 120vw;
  padding-left: 0;
}

code > .line {
  white-space: pre-wrap;
  line-height: 1.4;
}

/* Property */
code .token.property {
  color: #2aa198;
}

/* Solarized Dark Theme */
code .token.attr-name,
code .token.comment,
code .token.prolog,
code .token.doctype,
code .token.cdata {
  color: #939ca1d1;
}

code .token.punctuation {
  color: #657b83;
}

code .token.namespace {
  opacity: 0.7;
}

code .token.selector,
code .token.char,
code .token.builtin,
code .token.url,
code .token.entity {
  color: #2aa198;
}

code .token.atrule,
code .token.inserted {
  color: #859900;
}

code .token.important,
code .token.variable,
code .token.deleted {
  color: rgb(252, 146, 158);
}

code .token.important.bold {
  font-weight: bold;
}

code .token.italic {
  font-style: italic;
}

code .token.entity {
  cursor: help;
}

/* React Native Theme */
code .token.attr-name,
code .token.keyword {
  color: #b390d1;
}

code .token.string,
code .token.regex,
code .token.attr-value {
  color: #8dc891;
}

code .token.number,
code .token.constant,
code .token.symbol {
  color: #5a9bcf;
}

code .token.boolean {
  color: #ff8b50;
}

code .token.class-name {
  color: #fac863;
}

code .token.function {
  color: #79b6f2;
}

code .token.operator,
code .token.tag {
  color: #fc929e;
}

.controls-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-end;
  color: rgb(183, 182, 214);
  padding-right: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  label:focus {
    outline: 10px solid red;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    div {
      display: flex;
      margin-bottom: 0.5rem;
      justify-content: center;
      font-size: 14px;
    }
  }

  input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:hover + span {
      background-color: rgba(64, 64, 137, 0.20);
      color: #fffc;
    }
    &:checked + span {
      box-shadow: 0 0 0 0.0625em rgb(176 173 213);
      background-color: #40408964;

      z-index: 1;
      color: #fffd;
    }
  }

  label {
    span {
      font-size: 12px;
      display: block;
      background-color: #212150a1;
      cursor: pointer;
      margin-left: 1px;
      width: 4.9rem;
      height: 3.2rem;
      line-height: 3.2rem;
      position: relative;
      letter-spacing: 0.05em;
      text-align: center;
      transition: background-color 0.5s ease;
    }

    &:first-child {
      span {
        border-radius: 14px 0 0 14px;
      }
    }

    &:last-child {
      span {
        border-radius: 0 14px 14px 0;
      }
    }
  }
}

.controls-container label span {
  box-shadow: 0 0 0 1px rgb(96, 94, 129);
}

html[data-theme="light"] .Section.demo {
  .code-demo-container {
    background-image: linear-gradient(rgb(33 33 80 / 37%), transparent);
  }

  p,
  h2 {
    color: white;
  }
  .controls-container {
    color: #fffd;
  }
  .controls-container label span {
    background-color: #21215016;
    box-shadow: 0 0 0 1px rgb(113 100 173 / 97%);
  }
  input[type="radio"]:checked + span {
    box-shadow: 0 0 0 1px #fffc;
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 1;
    color: #fffc;
  }
  input[type="radio"]:hover + span {
    background-color: rgba(255, 255, 255, 0.02);
  }
}

.Section.demo > div {
  display: flex;
  max-width: 900px;
  margin: auto;
  gap: 39px;
  position: relative;
}

@media only screen and (max-width: 960px) {
  .Section.demo > div {
    flex-direction: column;
    gap: 0;
  }
  .Section.demo .column {
    margin: 0 60px;
  }
  .code-demo-container {
    margin: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .Section.demo .column {
    margin: 0 30px;
  }
  .controls-container {
    zoom: 0.9;
  }
}

@media only screen and (max-width: 420px) {
  .controls-container label span {
    width: 4.2rem;
    height: 3rem;
    line-height: 3rem;
  }
  .controls-container {
    zoom: 0.87;
  }
}

